* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-wrap {
    flex-wrap: wrap;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.jsb {
    justify-content: space-between;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

a.btn {
    color: #ffffff;
    text-decoration: none;
}

.btn {
    padding: 10px;
}

/*.nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
}*/

.nav-button {
    height: 100px;
    width: 100px;
    border: none;
    color: #f6f6f6;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    font-size: 24px;
    background: transparent;
    position: fixed;
}

.nav-button:active {
    opacity: 0.5;
}

.nav-button:focus {
    outline: none;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-header {
    /*position: absolute;*/
    top: 0;
    left: 100px;
    height: 100px;
    width: calc(100% - 100px);
    border-bottom: 1px solid #bbbbbb;
    position: fixed;
}

.nav-header-menu {
    list-style: none;
    margin: 0;
    padding-left: 40px;
}

.nav-header-menu-item {
    display: inline-block;
    padding: 0 30px;
}


.nav-header-menu-item > a {
    color: #9F9F9F;
    text-decoration: none;
    display: inline-block;
    padding: 41px 10px;
    position: relative;
}

.nav-header-menu-item > a::before {
    content: '';
    position: absolute;
    transition: 0.2s;
    width: 0;
    height: 5px;
    background: transparent;
    bottom: 0;
    left: 0;
}

.nav-header-menu-item > a:hover::before {
    background: #bbbbbb;
    width: 100%;
}

.nav-search {
    padding: 30px 50px;
    border-left: 1px solid #bbbbbb;
    position: relative;
    color: white;
}

.nav-search::before {
    content: '\f002';
    font-family: 'Font Awesome 5 Free', sans-serif;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
}

.nav-search > input {
    border: none;
    background: transparent;
    padding: 10px 15px;
    color: white;
    width: 100%;
}

.nav-search > input:focus {
    outline: none;
    border-bottom: 1px solid;
}

.nav-scroll {
    /*position: absolute;*/
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100px;
    border-right: 1px solid #bbbbbb;
    position: fixed;
}

.nav-scroll-btn span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 10px;
}

.nav-scroll-btn {
    background: transparent;
    border: none;
    padding: 15px;
    transition: 0.5s;
    color: #f6f6f6;
}

.nav-scroll-btn > i {
    padding: 10px;
}

.nav-scroll-btn:focus {
    outline: none;
}

.nav-scroll-btn:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* ---*/

.section {
    min-height: 100vh;
    padding: 160px 100px 50px 200px;
    color: #ffffff;
}

.section-1 {
    background: url("../img/bg1.png") no-repeat center center;
    background-size: cover;
}

.section-1 h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: Arial, sans-serif;
    /*background: url("../img/dots.png") no-repeat;*/
    /*background-position: -20px -20px;*/
    position: relative;

}

.section-1 h1::before {
    content: url("../img/dots.png");
    position: absolute;
    top: -5px;
    left: -32px;
}

.section-1 a {
    margin-right: 51px;
    display: inline-block;
}

.section-1 a i {
    background: transparent;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid red;
    margin-right: 21px;
}

.section-1 a:hover i {
    background: red;
}

.section-1 .links {
    margin-bottom: 30px;
}

.section-1 .desc ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.section-1 .desc ul li {
    padding-right: 200px;
    font-size: 14px;
    margin-bottom: 50px;
}

.section-1 .stars {
    font-family: 'Font Awesome 5 Free', sans-serif;
}

.section-1 .stars .star::before {
    content: '\f005';
    font-size: 18px;
}

.section-1 .stars .star:hover::before {
    font-weight: 700;
}

.section-1 .stars .star.active {
    font-weight: 700;
}

.section-2 {
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
}

/*---------------------------*/


@media (max-width: 1024px) {
    .nav-header-menu {
        padding-left: 20px;
    }

    .nav-header-menu-item {
        padding: 0 15px;
    }

    .nav-header-menu-item > a {
        padding: 41px 0;
    }

    .section {
        padding: 60px 20px 20px 140px;
    }

    .section-1 .desc ul {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .nav-header-menu {
        display: none;
    }
    .nav-search{
        border: none;
        width: 100%;
    }
    .section{
        padding: 75px 20px 20px 140px;
    }
    .section-1 h1{
        font-size: 60px;
    }
}
@media (max-width: 500px) {
    .nav-scroll{
        display: none;
    }
    .section{
        padding: 75px 20px 20px 45px;
    }
}